@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@mixin text-body {
  font-family: 'Noto Sans', sans-serif;
}

@mixin text-subtitle {
  font-family: 'Roboto', sans-serif;
}

@mixin text-title {
  font-family: 'Zero Hour', sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: "Zero Hour";
  src: url("/fonts/zero-hour.otf") format('opentype');
}
