#admin-dashboard {
  padding: 2rem;
  > main {
    display: flex;
    gap: 1rem;
    @media screen and (max-width: 991px) {
      flex-direction: column;
    }
    > section {
      flex: 1;
      border: 2px solid black;
      border-radius: 6px;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      h2 {
        font-size: 2rem;
      }

      .min-max-button {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
        border: 0;
        background-color: transparent;
        @media screen and (max-width: 991px) {
          display: initial;
        }

        svg {
          font-size: 2rem;
        }
      }

      .collapsible {
        height: 100%;
        width: 100%;
        transition: height 100ms;

        @media screen and (max-width: 991px) {
          &.collapsed {
            height: 0;
            .cards {
              height: 0;
              padding: 0;
            }
          }
        }
      }

      .taglist {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

        .tag {
          width: max-content;
        }
      }

      .cards {
        padding: 1rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        height: calc(85vh - $navbar-height - 2rem);
        width: 100%;
        overflow-y: scroll;
        transition: height 100ms;
        .card {
          height: 400px;
        }
        @media screen and (max-width: 991px) {
          height: 450px;
          @media screen and (min-width: 600px){
            grid-template-columns: 1fr 1fr;
          }
        }
      }
    }
  }
}