#company-dashboard {
  display: flex;
  justify-content: center;
  padding: 2rem 4rem;

  main {
    height: 100%;
    display: grid;
    grid-template-areas:
      'upcoming-events about'
      'listings calendar'
      'listings calendar';
    gap: 2rem;

    @media screen and (max-width: 994px) {
      grid-template-areas:
      'about calendar'
      'upcoming-events upcoming-events'
      'listings listings';
    }
  }
}

#upcoming-events {
  grid-area: upcoming-events;
  max-width: 50vw;
  @media screen and (max-width: 994px) {
    max-width: 100%;
  }

  .events {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    padding: 1rem 0;

    .event {
      background: $theme-light;
      color: black;
      border: 1px solid $theme-dark;
      border-radius: 6px;
      padding: 1rem;
      width: min-content;

      img {
        width: 200px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }

      &-name {
        font-size: 18px;
        font-weight: normal;
        min-height: 45px;
      }

      &-date {
        font-size: 16px;
        font-weight: normal;
        margin-top: 6px;
      }
    }
  }
}

#listings {
  grid-area: listings;

  .listing-group {
    background: #ddd;
    color: black;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1rem;

    h3 {
      font-size: 26px;
      font-weight: 600;
    }

    hr {
      border: 2px solid black;
      opacity: 0.6;
    }

    .listing {
      margin-top: 1rem;
      display: flex;
      align-items: center;

      &-name {
        font-size: 18px;
        font-weight: 400;
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .badge {
        margin-left: auto;

        &:hover {
          cursor: default;
        }
      }
    }
  }
}

#calendar {
  grid-area: calendar;
  width: 400px;
  @media screen and (max-width: 994px) {
    width: 100%;
  }
}

#about {
  grid-area: about;
  padding: 2rem;
  min-width: 300px;
  border: 1px solid $theme-accent;
}