$landing-page-bg: #fff;

#landing-page {
  --padding-sides: 4rem;

  .font-accent {
    color: $theme-accent;
    font-weight: 700;
    text-decoration: none;
  }

  .landing-page-responsive-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  background: $landing-page-bg;

  main {
    margin-top: 6rem;
  }

  #landing-carousel {
    height: 100vh;
    overflow: hidden;
    position: relative;

    .landing-carousel-track {
      animation: slide-up 15s linear infinite;

      .landing-carousel-item {
        padding-top: 3rem;
        font-family: "Zero Hour", sans-serif;
        font-size: large;
      }
    }

    &::after,
    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 120px;
      background-image: linear-gradient(
        to bottom,
        $landing-page-bg,
        rgba(255, 255, 255, 0)
      );
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
      rotate: 180deg;
    }
  }

  section {
    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 48px;
      font-weight: 400;

      @media screen and (max-width: 768px) {
        font-size: 40px;
      }
    }
  }

  #tagline {
    background: #151515;
    color: white;
    display: flex;
    align-items: center;
    max-height: 530px;
    overflow-y: hidden;

    h2 {
      padding-left: calc(var(--padding-sides) + 2rem);
      padding-right: calc(var(--padding-sides) + 2rem);
      width: min(80vw, 800px);
    }

    .img-container {
      margin-left: auto;
      width: 50%;
      height: 640px;
      border-radius: 320px 0 0 320px;
      background: $landing-page-bg;
      position: relative;

      img {
        width: 80%;
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }

      small {
        position: absolute;
        bottom: 70px;
        left: 50%;
        color: #ccc;
        a {
          color: #ccc;
        }
      }
    }
  }

  #interface-features {
    padding: 5rem clamp(var(--padding-sides), 10vw, 12rem);

    h2 {
      font-weight: 700;
      margin-bottom: 3rem;
    }

    .features {
      display: flex;
      justify-content: space-between;

      .feature {
        width: min(20vw, 350px);

        h3 {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 880px) {
  #landing-page {
    #interface-features {
      .features {
        flex-direction: column;

        .feature {
          width: 100%;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #landing-page {
    --padding-sides: 1rem;
    justify-content: center;

    #tagline {
      flex-direction: column;
      align-items: flex-start;
      max-height: none;

      h2 {
        width: 100%;
        padding-top: 5rem;
        padding-bottom: 5rem;
      }

      .img-container {
        margin-left: 0;
        border-radius: 50% 50% 0 0 / 10% 10% 0 0;
        padding: 3rem;
        width: 100%;
        height: max-content;

        img,
        small {
          position: revert;
          translate: unset;
          display: block;
          margin: auto;
          text-align: center;
        }

        img {
          width: 100%;
        }
      }
    }

    #landing-carousel {
      display: none;
    }
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
