/* CustomScroll.css */
.custom-scroll {
  max-height: 1000px;
  overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.past-event {
  background-color: #2c2c2c; /* Adjust the color value as needed */
  color: #ffffff; /* Set the text color to white */
  /* Reset other styles for the Card component */
  border-color: #dee2e6;
  box-shadow: none;
  opacity: 0.7;
}

.customSelectWidth {
  width: 500px; /* You can set the width you want here */
}

/* selectStyles.css */
.btn-clear-filter {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 8px;
  cursor: pointer;
}

.btn-clear-filter:hover {
  color: #007bff;
}

.btn-clear-filter:focus {
  outline: none;
  box-shadow: none;
}