.file-upload {
  width: fit-content;
  border: 1px solid $theme-dark;
  border-radius: 6px;
  padding: 1rem;

  .confirm-msg {
    color: green;
    opacity: 1;

    &.hide {
      transition: opacity 1s;
      opacity: 0;
    }
  }
}
