#help-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: cornflowerblue;
  color: white;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#help-window {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
