.signin-container {
  border: 1px solid #ccc;
  padding: 1.5rem;
  font-family: "Montserrat", sans-serif;

  h2 {
    font-family: "Zero Hour", sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .card {
    border-radius: 0;

    input[type="submit"] {
      width: 100%;
      background: #08c64e;
      border-color: darken(#08c64e, 10%);
    }
  }

  .alert {
    border-radius: 0;
  }
}
